*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Poppins;
line-height:1.6;
color:#333;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
color:white;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

.cta{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#00c896;
color:white;
text-decoration:none;
border-radius:5px;
}

.section{
padding:80px 10%;
text-align:center;
}

.gray{
background:#f5f5f5;
}

.about-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:40px;
margin-top:40px;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
width:250px;
}

.team{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
flex-wrap:wrap;
}

.trainer img{
width:200px;
border-radius:10px;
}

.reviews{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.review{
background:white;
padding:25px;
border-radius:10px;
width:250px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
gap:15px;
margin-top:30px;
}

input,textarea{
padding:12px;
border:1px solid #ddd;
border-radius:5px;
}

button{
padding:12px;
background:#00c896;
border:none;
color:white;
border-radius:5px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}